<%- include("footer.ejs") -%>	<!--Include da div do footer'-->

	</div>
  
  <%- include("footer-gototop.ejs") -%>	<!--Include da div que contem a inteligencia de ir para o topo'-->

  <%- include("footer-scripts.ejs") -%>	<!--Include dos scripts da aplicação'-->

</body>

</html>